.singlePostzz{
    flex: 9;
}
.singlePostTitle{
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.singlePostIcon{
    cursor: pointer;
    margin-left: 5px;
}
.singlePostDesc{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0px;
}
.singlePostImg{
    width: 100%;
    height: 100%;
}